<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>



    <link rel="stylesheet" type="text/css"
          media="all" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-primary" >
    <div class="collapse navbar-collapse" id="navbarMenu" style="margin-left:40%; margin-right:30%;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Adauga contact</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contacte</a>
            </li>
        </ul>
    </div>
</nav>

<div class="col-12">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td>ID</td>
                <td>FirstName</td>
                <td>LastName</td>
                <td>PhoneNumber</td>
                <td>Adress</td>
                <td>City</td>
                <td>Email</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="econtact : ${econtactList}" >
                <td th:text="${econtact.id}"/>
                <td th:text="${econtact.firstName}"/>
                <td th:text="${econtact.lastName}"/>
                <td th:text="${econtact.phoneNumber}"/>
                <td th:text="${econtact.adress}"/>
                <td th:text="${econtact.city}"/>
                <td th:text="${econtact.email}"/>
            </tr>
        </tbody>

    </table>

</div>

</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}" ></script>

</html>