<!doctype html>
<html lang="en">
<head>
    <title>EContact & Bootstrap</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div>
        <h1>Welcome to EContact</h1>
    </div>
    <h2>Striped Rows Table</h2>
    <p>The table-striped class adds zebra-stripes to a table:</p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>PhoneNumber</th>
            <th>Adress</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>1</td>
            <td>Felix</td>
            <td>Mocanu</td>
            <td>0741588412</td>
            <td>Str.Alex Ciurcu Nr.46 City.Brasov Country.Romania</td>
            <td>mocanufelix@yahoo.com</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Daniel</td>
            <td>Tintea</td>
            <td>074...</td>
            <td>Str. Nr. City. Country.</td>
            <td>danny@example.com</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Alina</td>
            <td>Popa</td>
            <td>07412...</td>
            <td>Str. Nr. City. Country.</td>
            <td>alina@example.com</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Roxana</td>
            <td>Georgescu</td>
            <td>0753...</td>
            <td>Str. Nr. City. Country.</td>
            <td>roxy@example.com</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Carmen</td>
            <td>Avram</td>
            <td>0729...</td>
            <td>Str. Nr. City. Country.</td>
            <td>carmencyty@example.com</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Razvan</td>
            <td>Mehes</td>
            <td>0723...</td>
            <td>Str. Nr. City. Country.</td>
            <td>razvy@example.com</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>