<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mesagerie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-color: #51BDFF">
<nav class="navbar navbar-expand-sm navbar-dark bg-primary" >
    <div class="collapse navbar-collapse" id="navbarMenu" style="margin-left:30%; margin-right:30%;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="http://localhost:8080/EContact" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:8080/econtactForm" class="nav-link">Add Contact</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:8080/econtactOverview" class="nav-link">Contacts</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:8080/groupForm" class="nav-link">Add Group</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:8080/Mesagerie" class="nav-link">Email</a>
            </li>
            <li class="nav-item">
                <a href="http://localhost:8080/messageArchive" class="nav-link">Archive</a>
            </li>
        </ul>
    </div>
</nav>

<div class="contact-title" style="margin-left:40%; margin-top:100px">
    <h1>Mesagerie</h1>
</div>


    <form  action="" class="main-form needs-validation" novalidate style="width: 750px; margin:auto" th:action="@{/submitMessage}" th:object="${message}" method="POST">
    <div class="form-group">
        <label >Addressee</label><br>
        <input type="text" th:field="${message.addressee}" class="form-control" required>
    </div>
<div class="form-group">
    <label >Subiect</label><br>
    <input type="text" th:field="${message.subject}" class="form-control" required>
    </div>
    <div class="form-group">
        <label >Body</label><br>
        <textarea type="text" th:field="${message.body}" class="form-control" rows="5" cols="100" required/>
    </div>

    <button class="btn-primary" style="margin-top:20px" type="Send" >Trimite</button>
</form>
</body>
</html>