<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Archive</title>

  <link rel="stylesheet" type="text/css"
        media="all" th:href="@{/bootstrap/css/bootstrap.min.css}">

</head>
<body style="background-color: #51BDFF">
<nav class="navbar navbar-expand-sm navbar-dark bg-primary" >
  <div class="collapse navbar-collapse" id="navbarMenu" style="margin-left:30%; margin-right:30%;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="http://localhost:8080/EContact" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="http://localhost:8080/Login" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a href="http://localhost:8080/econtactForm#" class="nav-link">Add Contact</a>
      </li>
      <li class="nav-item">
        <a href="http://localhost:8080/econtactOverview" class="nav-link">Contacts</a>
      </li>
      <li class="nav-item">
        <a href="http://localhost:8080/groupForm" class="nav-link">Add Group</a>
      </li>
      <li class="nav-item">
        <a href="http://localhost:8080/Mesagerie" class="nav-link">Email</a>
      </li>
      <li class="nav-item">
        <a href="http://localhost:8080/messageArchive" class="nav-link">Archive</a>
      </li>
    </ul>
  </div>
</nav>

<div class="contact-title" style="margin-left:40%; margin-top:35px">
  <h1>Archive</h1>
</div>

<div style="background-color: #FFFFFF">
  <table class="table table-striped  table-hover table-bordered">
    <thead>
    <tr>
      <td>ID</td>
      <td>Addressee</td>
      <td>Subject</td>
      <td>Body</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="messsage : ${messageList}" >
      <td th:text="${messsage.id}"/>
      <td th:text="${messsage.addressee}"/>
      <td th:text="${messsage.subject}"/>
      <td th:text="${messsage.body}"/>
    </tr>

    </tbody>

  </table>

</div>

</body>

<script th:src="@{/bootstrap/js/bootstrap.min.js}" ></script>

</html>